<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../adminFrame/head.ejs') %>
</head>

<body>
    <div id="wrapper">
        <%-include('../adminFrame/nav.ejs') %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">전체 예약 리스트 관리
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            예약 리스트 목록
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row" style="margin-bottom:15px">
                                <div class="col-lg-12">
                                    <div class="">
                                        <div class="header">
                                            <div class="year-month">
                                            </div>
                                            <div class="navi">
                                                <button class="nav-btn go-prev" style = "text-align: center; vertical-align: middle;" onclick="prevMonth()"><i class="fa fa-angle-left"></i></button>
                                                <button class="nav-btn go-today" onclick="goToday()">오늘</button>
                                                <button class="nav-btn go-next" onclick="nextMonth()"><i class="fa fa-angle-right"></i></button>
                                            </div>
                                        </div>
                                        <div class="main">
                                            <div class="days">
                                                <div class="day">일</div>
                                                <div class="day">월</div>
                                                <div class="day">화</div>
                                                <div class="day">수</div>
                                                <div class="day">목</div>
                                                <div class="day">금</div>
                                                <div class="day">토</div>
                                            </div>
                                            <div class="dates" style = "overflow:none;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>              
    </div>
    <%-include('../adminFrame/footer.ejs') %>
</body>
</html>
<script>
let date = new Date();
const renderCalendar = () => {
    const viewYear = date.getFullYear();
    const viewMonth = date.getMonth()+1;
    const viewDate = date.getDate();
    document.querySelector('.year-month').textContent = `${viewYear}년 ${viewMonth}월`;
    const prevLast = new Date(viewYear, viewMonth-1, 0);
    const thisLast = new Date(viewYear, viewMonth, 0);
    const nextLast = new Date(viewYear, viewMonth+1, 0);
    const PLDate = prevLast.getDate();
    const PLDay = prevLast.getDay();
    const TLDate = thisLast.getDate();
    const TLDay = thisLast.getDay();
    const prevDates = [];
    const thisDates = [...Array(TLDate + 1).keys()].slice(1);
    const nextDates = [];
    if (PLDay !== 6) {
        for (let i = 0; i < PLDay + 1; i++) {    
        prevDates.unshift(PLDate - i);
        }
    }
    for (let i = 1; i < 7 - TLDay; i++) {
        nextDates.push(i)
    }
    const dates = prevDates.concat(thisDates, nextDates);
    const firstDateIndex = dates.indexOf(1);
    const lastDateIndex = dates.lastIndexOf(TLDate);
    dates.forEach((date, i) => {
    const condition = i >= firstDateIndex && i < lastDateIndex + 1 ? 'this' : 'other';
        if(i <= 6 && date >25){
            dates[i] = '<div class="date" style="padding: 10px; height:auto; 100px; overflow:hidden;" id ="'+prevLast.getFullYear()+getTextDate(prevLast.getMonth()+1)+getTextDate(date)+'"><span class='+condition+'>'+date+'</span></div>';
        }else if(i > 27 && date < 7){
            dates[i] = '<div class="date" style="padding: 10px; height:auto; 100px; overflow:hidden;" id ="'+nextLast.getFullYear()+getTextDate(nextLast.getMonth()+1)+getTextDate(date)+'"><span class='+condition+'>'+date+'</span></div>';            
        }else{       
            dates[i] = '<div class="date" style="padding: 10px; height:auto; 100px; overflow:hidden;" id ="'+viewYear+getTextDate(viewMonth)+getTextDate(date)+'"><span class='+condition+'>'+date+'</span></div>';
        }
    })
    function getTextDate(num){
        return num < 10 ? '0'+ num : num;
    }
    document.querySelector('.dates').innerHTML = dates.join('');
    const today = new Date();
    if (viewMonth === today.getMonth()+1 && viewYear === today.getFullYear()) {
        for (let date of document.querySelectorAll('.this')) {
            if (+date.innerText === today.getDate()) {
                date.classList.add('today');
                break;
            }
        }
    }
    $(document).ready(function(){    
        let getList = '<%-list%>';
        let dataList = JSON.parse(getList);
        var today = new Date();
        today = dateOfficialFormat(today)
        for(var i = 0; i<dataList.length; i++){   
            var originTime = new Date(dataList[i].stime)
            let startTime = originTime.toLocaleString([],{
                hourCycle: 'h23',
                hour: '2-digit',
                minute: '2-digit'
            })
            let newTime = new Date(originTime.getTime() + dataList[i].duration*60*1000)
            let endTime = newTime.toLocaleString([],{
                hourCycle: 'h23',
                hour: '2-digit',
                minute: '2-digit'
            })
            let dateUn = dataList[i].stime
            let dateId = dateOfficialFormat(dateUn)
            if(dateId<today){
                $("#"+dateId).append('<div class = "text-center" style = "width:100%;" id = "innnerbox_'+dataList[i].idx+'"><button type="button" class="btn btn-default btn-sm" style="width:100%;overflow:hidden;margin-top:8px;" onclick=" location.href=`/admin/reservation_detail?idx='+dataList[i].idx+'&result=0`; ">'+dataList[i].roomNm+'번) '+dataList[i].name+' : '+startTime+'~'+endTime+'</button></a></div>')
            }
            else{
                $("#"+dateId).append('<div class = "text-center" style = "width:100%;" id = "innnerbox_'+dataList[i].idx+'"><button type="button" class="btn btn-default btn-sm" style="width:100%;overflow:hidden;margin-top:8px;" onclick=" location.href=`/admin/reservation_detail?idx='+dataList[i].idx+'&result=1`; ">'+dataList[i].roomNm+'번) '+dataList[i].name+' : '+startTime+'~'+endTime+'</button></a></div>')
            }
        }
             $( document ).ready( function() {
                $(".date").each( function() {
                    if ($(this).children("div").length > 1) {
                        var today = new Date();
                        today = dateOfficialFormat(today)
                        var id = $(this).attr('id').replace(/(\d{4})(\d{2})(\d{2})/,'$1-$2-$3');
                        var idid = dateOfficialFormat(id)
                        var total = $(this).children("div").length
                        $(this).children("div").remove();
                        if(idid<today){
                            $(this).append('<div class = "text-center" style = "width:100%;"><button type="button" class="btn btn-default btn-sm" style="width:100%;overflow:hidden;margin-top:8px;font-weight:530;" onclick ="location.href= `/admin/reservation_list?page=0&sdate='+id+'&edate='+id+'&result=0&type=reserver&searchWord=`">+ '+total+'</a></div>')
                        }
                        else{
                            $(this).append('<div class = "text-center" style = "width:100%;"><button type="button" class="btn btn-default btn-sm" style="width:100%;overflow:hidden;margin-top:8px;font-weight:530;" onclick ="location.href= `/admin/reservation_list?page=0&sdate='+id+'&edate='+id+'&result=1&type=reserver&searchWord=`">+ '+total+'</a></div>')
                        }
                }
            });
        });
    })
}
const prevMonth = () => {
    date.setDate(1);
    date.setMonth(date.getMonth() - 1);
    renderCalendar();
}
const nextMonth = () => {
    date.setDate(1);
    date.setMonth(date.getMonth() + 1);
    renderCalendar();
}
const goToday = () => {
    date = new Date();
    renderCalendar();
}
renderCalendar();
// $('.dates').each(function(){ // 각 div 높이 동일하게 조절
// 	var boxhight = 0;
// 	$('.date', this).each(function(){
// 		if($(this).height() > boxhight)
// 		boxhight = $(this).height();
// 	});
// 	$('.date',this).height(boxhight);
// });

// $(document).ready( function(){ 
//             var heightArray = $(".date").map(function(){ 
//                     return  $(this).height(); 
//             }).get(); 
//             var maxHeight = Math.max.apply( Math, heightArray); 
//             $(".date").height(maxHeight); 
//             }) 
</script>