<div class="bottom">
    <a href="main" class="api_bottombtn w-inline-block"><img src="../user/images/home.svg" loading="lazy" alt="" class="api_bottombtn_img _1"><img src="../user/images/home2.svg" loading="lazy" alt="" class="api_bottombtn_img _2">
      <div>홈</div>
    </a>
    <a href="gamesearch" aria-current="page" class="api_bottombtn select w-inline-block w--current"><img src="../user/images/grid.svg" loading="lazy" alt="" class="api_bottombtn_img _1 select"><img src="../user/images/grid2.svg" loading="lazy" alt="" class="api_bottombtn_img _2 select">
      <div>게임</div>
    </a>
    <a href="roomsearch" class="api_bottombtn w-inline-block"><img src="../user/images/calendar.svg" loading="lazy" alt="" class="api_bottombtn_img _1"><img src="../user/images/calendar2.svg" loading="lazy" alt="" class="api_bottombtn_img _2">
      <div>예약</div>
    </a>
    <a href="customer" class="api_bottombtn w-inline-block"><img src="../user/images/headset_white.svg" loading="lazy" alt="" class="api_bottombtn_img _1"><img src="../user/images/headset_color.svg" loading="lazy" alt="" class="api_bottombtn_img _2">
      <div>고객센터</div>
    </a>
  </div>